In [69]:
student = {
    "name": "abderrahmane",
    "age": 22,
    "is_student": True
}

In [70]:
print(student["name"])

abderrahmane

In [71]:
student["grade"]= 15

In [72]:
print(student["grade"])

15

In [73]:
del student["grade"]
student.pop("age")

22

In [74]:
print(student)

{'name': 'abderrahmane', 'is_student': True}

exercise:

In [75]:

classmate1 = {
    "name": "amina",
    "age": 22,
    "is_student":True
    
}
classmate2 = {
    "name": "amir",
    "age": 23,
    "is_student":True
}
classmate3 = {
    "name": "zaki",
    "age": 37,
    "is_student": False,
}
classmates = {
    "classmate1": classmate1,
    "classmate2": classmate2,
    "classmate3": classmate3
}

In [76]:
print(classmate1["age"])

22